:root{
    --white-color: #FFFFFF;
    --neutral-color: #262626;
    --neutral-100-color: #F2F2F2;
    --brand-600-color: #25A59E;
    --brand-500-color: #44D5CD;
    }

*,
*::after
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Gilda display;
}

/* Buttons */

.btn{
    padding: 17px 3px;
    border-radius: 1.5px;
    color: #262626;
}

.btn-arrow { 
    padding: 16px 32px;
    border-radius: 0.2px;
    color: #25A59E;
    Gap: 12px;
    font-family: Gilda display;
    font-style: semibold;
    font-weight: 400;
    font-size: 15px;
}


.btn-click-here h4 {
    width: 147px;
    height: 54px;
    gap: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    font-family: Urbanist;
    font-weight: 600;
    font-size: 18px;
    background-color: #25A59E;
    color:#FFFFFF;
    text-align: center;
}


/* Header */

header {
    height: 323px;
    width: 375px;
    top: -3px;
}

nav {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 100;
}    

.nav-logo {
    font-family: Gilda display;
    font-weight: 400;
    font-size: 16px;
    color: #25A59E;
    width: 52px;
    height: 19px;
    border: 0.7px;
}

/*Travel-around*/

section {
    margin-top: 130px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

h1{
    font-family: Gilda display; 
    font-weight: 400;
    font-size: 52px;
    color: #262626;
    margin: 0;
    text-align: center;
}

.Travel-green {
    color: #25A59E
}

.shapes {
    position: relative;
    margin-bottom: 30px;
}

.asian {
    position: absolute;
    z-index: 10;
}

.ellipse {
    position: absolute;
    z-index: -1;
    top: 32px;
    left: 20px;
}

.blurry {
    position: absolute;
    z-index: -2;
    top: -120px;
}

.shapes img {
    align-items: center;
}

/* Destination-section */

.destination {
    margin-top: 50px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.destination img {
    margin-left: 15px;
}

.destination h2 {
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 40px;
    color: #262626;
    padding-left: 5%;
}

.destination p {
    font-family: Urbanist;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    padding-left: 25px;
}

.destination h3{
    font-family: Urbanist;
    font-weight: 600;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 18px;
    padding-left: 17px;
    text-align: left;
}


/* Choose-us-section */
h2 {
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 40px;
    padding-left: 50px;
    margin-top: 5px;
}

p {
    font-family: Urbanist;
    font-weight: 500;
    font-size: 16px;
    padding-left: 25px;

}

.Best-guide h3 {
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 28px;
    text-align: left;
    padding-left: 10px;
}

.Best-guide {
    border-top: 5px solid #25A59E;
}

.Best-guide p {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px; 
}

h4 {
    padding-left: 200px;
}

.Special-Tickets {
    background-color: #25A59E;
}

.Special-Tickets h3 {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 28px;
    padding-left: 10px;
}

.Special-Tickets p {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 15px;
    text-align: left;  
    color: #FFFFFF;
    padding-left: 10px;
}

.Special-Tickets h4 {
    color: #FFFFFF;
}

.Ticket-img {
    color: #FFFFFF;
}

.Ready-support h3 {
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 28px;
    padding-left: 10px;
}

.Ready-support {
    border-top: 5px solid #25A59E;
}

.Ready-support p {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 15px;
    text-align: left;  
    padding-left: 10px; 
}

.Memorable h2 {
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 40px;
    padding-left: 10px;
}

.Memorable p {
    font-family: Urbanist;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
}


.Memorable-shapes {
    position: relative;
    margin-bottom: 330px;
}

.couple {
    position: absolute;
    height: 247px;
}

.prism {
    position: absolute;
    top: 125px;
    z-index: -200;
    left: 29px
}

.Trip-documentation h2 {
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 40px;
    padding-left: 10px;
}


.Trip-documentation img {
    margin-bottom: 5px;
}

.Best-offer h2 {
    font-family: Gilda Display;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
}

.travel h4 {
    font-family: Gilda Display;
    font-weight: 400;
    padding-left: 10px;
    font-size: 16px;
}

.app-btn {
    padding: 0;
    color: #25A59E;
    justify-content: space-between;
}

.app-section {
    display: flex;
}


.footer-wrapper{
    display: flex;
    gap: 15px;
}

a {
    color: black;
    text-decoration: none;
}

li{
    list-style-type: none;
    font-family: Urbanist;
    font-weight: 600;
    font-size: 16px;
}