:root{
    --white-colour: ##FFFFFF;
    --neutral-colour: ##262626;
    --neutral-100-colour: ##F2F2F2;
    --brand-600-colour: ##25A59E;
    --brand-500-colour: ##44D5CD;
    --orange-colour: ##EE8F39
}